<footer class="footer">
    <div class="container-fluid">
        <!-- <div class="row justify-content-center topfooter">
                  <div class="col-md-10">
                       <h5 class="mb-4">Join over 1,000,000 investors who funded businesses over 1 Billion Naira</h5>
                  </div>

                   <div class="col-md-3 mt-2 py-2 py-md-0">
                        <ul class="list-inline">
                          <li><a href="#"><span class="fgsignup"><img  class="py-2" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1586478477/Fundstrtr/Group_5_f4ydhi.png" alt=""></span></a></li>
                          <li><a href="#"><span class="fgsignup"><img  class="py-2" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1585952057/Group_7_lxl8ey.png" alt=""></span></a></li>
                        </ul>  
                  </div>
                
                  <span class="scan mt-4">or</span>

              <div class="col-md-3 mt-2">
                  <form method="POST">
                  <span class="form">
                  <div class="form-group">
                    <input type="text" class="form-control my-2 py-2 py-md-0" id="name" placeholder="Full name">
                     <input type="text" class="form-control my-2 py-2 py-md-0" id="email" placeholder="Email">
                      <input type="text" class="form-control my-2 py-2 py-md-0" id="password" placeholder="Password">
                  </div>
                   </span>
                  <button type="button" class="btn border-0 joinbutton py-2" onclick="#">Submit</button>
                 
                  </form>      
              </div>  

              <div class="col-md-2 mt-5 mt-md-2 qr">
                  --Don't forget to put embedded QR--
                  <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1585953414/qr_code_PNG36_1_tmdu0c.png" alt="">
              </div>

              <div class="col-md-2 mt-3 mt-md-2">
                      <ul class="list-inline">
                          <li>
                              <p class="scan">Scan the QR code to<br>download the app</p>
                          </li>

                      <li>
                          <a href="#"><img class="py-2 store" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1585952057/Group_ki8acp.png" alt=""></a>
                      </li>

                      <li>
                          <a href="#"><img class="py-2 store" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1585952058/Google_Play_Store_badge_EN_1_xbor6w.png" alt=""></a>
                      </li>
                      </ul>
              </div>
      </div> -->
    </div>

    <div class="container-fluid">
        <div class="middlefooter">
            <div class="row justify-content-center py-2">
                <div class="col-lg-2 ml-5 ml-md-4">
                    <h6 class="mt-3">Investing</h6>
                    <ul class="address list-inline d-flex flex-column mt-2 py-2">
                        <li class="py-2"><a href="#">Investment Opportunities</a></li>
                        <li class="py-2"><a href="#">Funded Companies</a></li>
                        <li class="py-2"><a href="#">Tax Relief</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 ml-5 ml-md-3">
                    <h6 class="mt-3">Raising</h6>
                    <ul class="address list-inline d-flex flex-column mt-2 py-2">
                        <li class="py-2"><a href="#">Success stories</a></li>
                        <li class="py-2">
                            <a href="/raising/knowledge-hub">Knowledge Hub</a>
                        </li>
                        <li class="py-2">
                            <a href="/raising/sector-focus">Sector Focus</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 ml-5 ml-md-3">
                    <h6 class="mt-3">About Us</h6>
                    <ul class="address list-inline d-flex flex-column mt-2 py-2">
                        <li class="py-2">
                            <a href="/raising/partnerships">Partnerships</a>
                        </li>
                        <li class="py-2"><a href="/careers">Careers</a></li>
                        <li class="py-2"><a href="#">Blog</a></li>
                        <li class="py-2"><a href="/helpcenter">Help Center</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 ml-5 ml-md-3">
                    <h6 class="mt-3">Legal</h6>
                    <ul class="address list-inline d-flex flex-column mt-2 py-2">
                        <li class="py-2">
                            <a href="/terms-of-use">Terms &#38; Conditions</a>
                        </li>
                        <li class="py-2"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 ml-5 ml-md-3">
                    <h6 class="text-light"></h6>
                    <!--Social-->
                    <ul class="list-inline mb-0 mt-5">
                        <span class="socials">
              				<li class="list-inline-item mr-4 mr-md-3">
                			<a href="https://www.facebook.com/EazifundsInc" target="_blank"><i class="fab fa-facebook"></i></a>
              				</li>
							<li class="list-inline-item mr-4 mr-md-3">
								<a href="https://twitter.com/eazifundsinc_" target="_blank"><i class="fab fa-twitter"></i></a>
							</li>
							<li class="list-inline-item mr-4 mr-md-3 rounded">
								<a href="https://www.linkedin.com/company/eazifunds" target="_blank"><i class="fab fa-linkedin"></i> </a>
							</li>
							<li class="list-inline-item mr-4 mr-md-3">
								<a href="https://www.instagram.com/fundstrtr" target="_blank"><i class="fab fa-instagram"></i> </a>
							</li>
            			</span>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="lowfooter">
                    <p class="text-center mb-0 py-2">
                        By using fundstrtr.com, you accept our Terms &#38; Privacy Policy. If investing, you accept our Investor Agreement. You may also view our Privacy Notice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer -->

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a6f7970f75.js" crossorigin="anonymous"></script>