/*Nav Bar*/

.navbar {
    background: #F8F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.navbar .nav-item .nav-link:hover {
    color: #91BE32;
}

.donatees {
    border: 1px solid #283990;
    border-radius: 20px;
    color: #283990;
    outline: none;
    font-size: 14px;
}

.joinbutton {
    color: #F8F8F8;
    background: #283990;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    outline: none;
}

#jn:hover {
    /*.btn.btn-primary*/
    background-color: #91BE32;
    color: white;
}

a {
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    /*font-size Was 14px*/
    line-height: 20px;
    color: #283990;
}


/*Login Modal*/

.fs-lgn-modal-content {
    border-radius: 25px;
    width: 800px;
    height: 543px;
    border: none;
    margin-left: -8rem;
    margin-top: 5rem;
}

.fs-lgn-modal-header {
    background: transparent;
    border: none;
    padding: 0rem;
}

.modal-header .close {
    padding: 0rem;
}

.closeModal {
    margin-top: -4rem;
    outline: none;
}

.modal-backdrop {
    background: rgba(0, 9, 56, 0.7);
    filter: blur(15px);
    ;
}

.lgn-welcome-back {
    font-family: Montserrat;
    color: #283990;
    font-weight: bold;
    font-size: 2rem
}

.btn-secondary {
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    background-color: #91BE32;
    border: none;
    font-size: 1rem;
}

.lgn-social-account {
    color: #283990;
    font-family: Montserrat;
}

label {
    color: #283990;
}

input {
    border-color: #283990;
    color: #283990;
    font-size: 1rem;
    font-style: italic;
}

.door {
    width: 105%;
    height: 100%;
    margin-top: -1.05rem;
}

.lower-background {
    background: #283990;
    border: 1px solid #283990;
    border-bottom-left-radius: 25px;
    margin-left: -3.1rem;
    height: 60px;
    width: 420px;
}

#forgot {
    color: white;
    margin-left: 8.5rem;
    margin-top: 3rem;
}


/*Login Modal mobile*/

@media(max-width:900px) {
    .fs-lgn-modal-content {
        border-radius: 25px;
        width: 340px;
        height: 500px;
        border: none;
        margin-left: 1rem;
    }
    .door {
        display: none;
    }
    .lower-background {
        background: #283990;
        border: 1px solid #283990;
        border-bottom-left-radius: 25px;
        margin-left: -3.1rem;
        height: 40px;
        width: 341px;
        border-bottom-right-radius: 25px;
    }
    #forgot {
        color: white;
        margin-left: 7rem;
        margin-top: 3rem;
    }
    .modal-social {
        margin-left: -3rem;
    }
}


/*Login Modal mobile*/


/*Login Modal*/


/*Nav Bar*/


/*Main Content- Remember to split*/

body {
    background-image: url("https://res.cloudinary.com/https-eazifunds-com/image/upload/v1586441204/Fundstrtr/Group_1127_qmn6op.png");
    background-position: left top;
    background-repeat: no-repeat;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #283990;
}

h2,
h3 {
    font-family: Montserrat;
    font-style: normal;
    color: #283990;
    font-weight: 400;
}

h2:hover {
    color: #91be32;
}

h6 {
    font-family: Montserrat;
    font-style: normal;
    color: #283990;
    font-weight: bold;
    font-size: 1rem;
}

h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: #283990;
}

.fs-nav-two {
    color: #91be32;
}

iframe {
    width: inherit;
    border-radius: 20px;
}

.card {
    /* width: 75%; */
    background: #ffffff;
    /**#FFFF9A */
    box-shadow: 0px 15px 30px rgba(160, 176, 255, 0.2);
    border-radius: 30px;
    border: none;
    /* height: 20rem; */
}

.news {
    background-color: #f8f9fa;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.news:hover {
    transform: translateY(-1rem);
    transition: 1s;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .6);
}

.btn-outline {
    border: #91be32 1px solid;
}

.joinbutton {
    color: #f8f8f8;
    background: #283990;
    border-radius: 20px;
    font-size: 16px;
    font-family: Montserrat;
    text-align: center;
    outline: none;
}

.img-cover {
    height: 100%;
    left: 50%;
    max-width: none;
    min-width: 100%;
    object-fit: cover;
    position: relative;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.card-title {
    height: 30%;
}

#left-news {
    height: 85%;
}

#short-links li {
    font-size: 0.9rem!important;
    align-content: center;
    font-weight: bold;
}

#short-links li:hover {
    text-decoration: underline;
}

#busimg {
    width: 90%;
    margin-left: 8rem;
}

#busimg2 {
    width: 60%;
    margin-top: -8rem;
    margin-left: 2rem;
}

#c {
    background: #ffff9a;
    /**#FFFF9A */
}

li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    color: #283990;
    font-size: 1.4rem;
}

span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #91be32;
    font-size: 2rem;
}

#info {
    box-shadow: 0px 15px 30px rgba(160, 176, 255, 0.2);
    background: #ffff9a;
    width: 100%;
}

#last-row {
    padding-bottom: 15rem;
}

@media(max-width:900px) {
    #busimg {
        width: 90%;
        margin-left: 2rem;
    }
    #busimg2 {
        width: 60%;
        margin-top: -5rem;
        margin-left: 0rem;
    }
    .fs-pic {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    .joinbutton {
        color: #f8f8f8;
        background: #283990;
        border-radius: 20px;
        font-size: 16px;
        font-family: Montserrat;
        text-align: center;
        outline: none;
        margin-left: 4rem;
    }
    #info {
        box-shadow: 0px 15px 30px rgba(160, 176, 255, 0.2);
        background: #ffff9a;
        width: 100%;
        margin-bottom: 2rem;
    }
    iframe {
        height: 300px;
        margin-top: 2rem;
    }
    .joinus {
        color: #f8f8f8;
        background: #283990;
        border-radius: 20px;
        font-size: 16px;
        font-family: Montserrat;
        text-align: center;
        outline: none;
        margin-left: 7rem;
    }
    .fs-funded-club {
        color: #91BE32;
        text-decoration: underline;
    }
}

@media(min-width:900px) {
    #invjoin {
        margin-left: 30rem;
    }
    .joinus {
        color: #f8f8f8;
        background: #283990;
        border-radius: 20px;
        font-size: 16px;
        font-family: Montserrat;
        text-align: center;
        outline: none;
        margin-left: 7rem;
    }
    .joinus:hover {
        color: #f8f8f8;
        background: #91BE32;
    }
    /*Final Card*/
    .card.card-fs {
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgba(160, 176, 255, 0.2);
        border-radius: 25px;
        border: none;
        /* height: 35rem; */
        width: 23rem;
    }
    .card.card-fs:hover {
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .6);
        transition: 1s;
        transform: translateZ(1rem);
    }
    .card-header {
        height: 14%;
        background-color: inherit;
        margin-top: 2.5rem;
    }
    .img-header {
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
        border-bottom-right-radius: 15px!important;
        border-bottom-left-radius: 15px!important;
    }
    .progress {
        height: 5px;
        width: 300px;
    }
    .progress-color {
        background-color: #91BE32;
    }
    .logo {
        width: 108.55px;
        height: 107.09px;
        margin-top: -6rem;
        margin-left: -1.5rem;
        border: 5px solid #FFFFFF;
        filter: drop-shadow(0px 10px 20px rgba(146, 163, 255, 0.2));
        border-radius: 100px;
        object-fit: none;
        /* border: 1px solid gray; add if logo wouldnt be circular/rounded */
        /* margin-left: 16rem; */
    }
    #ff-inline {
        border-right: 1px solid #e4e4e4;
        height: 4rem;
        padding: 0 1em;
    }
    #ff-inline span {
        font-size: 14px!important;
    }
    .days-left {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 126px;
        height: 42px;
        margin-left: 9rem;
        background: #283990;
        border-radius: 0px 25px;
        font-weight: 500;
        color: white!important;
        text-align: center;
        padding-top: 8px;
    }
    .fs-funded-club {
        color: #91BE32;
        text-decoration: underline;
    }
}


/*FAQ*/

.btn-link {
    font-family: Montserrat;
    font-style: normal;
    color: #283990;
    font-weight: bold;
}

.btn-link:hover {
    color: #91be32;
}

.fs-faq:hover {
    color: #91be32;
}

.fs-faq-card {
    background: #ffffff;
    /**#FFFF9A */
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, .125)!important;
}

.acc-card-header {
    height: auto!important;
    margin-top: auto!important;
    padding: .75rem 1.25rem!important;
    margin-bottom: 0!important;
    background-color: rgba(0, 0, 0, .03)!important;
    /* border-bottom: 1px solid rgba(0, 0, 0, .125); */
}


/*FAQ*/


/*Main Content- Remember to split*/


/*Footer*/

.footer {
    background-color: #283990;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.lowfooter {
    background-color: #EBEEFF;
    color: #283990;
    font-size: 14px;
    margin-left: -1rem;
    margin-right: -0.96rem;
}

.topfooter {
    background-color: #EBEEFF;
    padding-bottom: 5rem;
    padding-top: 3rem;
}

.footer .address a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF
}

.footer .socials a {
    color: #FFFFFF
}

#risk-body {
    background-image: url("https://res.cloudinary.com/https-eazifunds-com/image/upload/v1586441204/Fundstrtr/Group_1127-1_elgdb1.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #EBEEFF;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.risk {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: #283990;
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #283990;
}


/*Footer*/