<!DOCTYPE html>
<html>

<head>
    <title>fundstrtr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="assets/logo150.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:700&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="stylesheets/header.css"> -->
    <!-- <link rel="stylesheet" href="stylesheets/footer.css"> -->
    <link rel="stylesheet" href="stylesheets/aboutus.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <%-include('../partials/Navbar')%>

        <!--Absection1-->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="">How we <span>Started</span></h1>
                        <p class="mt-5 justify-content-center absection1-p">
                            Fundstrtr was motivated by an unquestionable belief in Individuals that dream big, who are resilient,persistence and want to make a difference.<br><br>We were motivated by a world where it was harder than ever for entrepreneurs
                            at any stage to raise funding, as there are too many investors, but few angels to bring forth their innovative ideas to life.<br><br> And we were spurred on to be the first equity &#38; debt crowd-funding investment platform
                            made accessible in Africa, so amazing businesses could harness the belief they get from customers, investors and friends to fuel a more wonderful tomorrow.
                        </p>
                    </div>

                    <div class="col-lg-6">
                        <!--Video ?-->
                        <img id="busimg2" class="img-responsive img-fluid  order-md-1" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587990462/Fundstrtr/Rectangle_111_vgnysm.png" alt="">
                        <img id="busimg" class="img-responsive img-fluid  order-md-2" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587990464/Fundstrtr/Mask_Group_dtc24r.png" alt="">
                        <span><img class="idea order-1 order-md-3" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587990462/Fundstrtr/Group_1223_w29pyy.png" alt=""></span>
                    </div>

                </div>
            </div>
        </div>
        <!--Absection1-->

        <!--OurPurpose-->
        <div id="body-purpose">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-lg-12 justify-content-center">
                        <h1 class="text-center">Our Purpose</h1>
                        <p class="lead text-center mt-4">Make Funding easily and readily available to businesses worldwide</p>
                    </div>
                </div>

                <div id="qualities" class="row ml-md-4 mt-5 justify-content-center">
                    <div class="col-lg-3">
                        <div class="card py-4 mb-4 mb-md-0 border-0">
                            <div class="card-body">
                                <div class="rounded-circle logos text-center">
                                    <p class="logos-s text-center">P</p>
                                </div>
                                <h3 class="mt-4">Persistence</h3>
                                <p class="card-text text-center mt-4">We believe in being consistenly peristent. We love new thinking and big ideas that challenge the status quo. Think different.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card py-4 mb-4 mb-md-0 border-0">
                            <div class="card-body">
                                <div class="rounded-circle logos text-center">
                                    <p class="logos-s text-center">R</p>
                                </div>
                                <h3 class="mt-4">Resilience</h3>
                                <p class="card-text text-center mt-4">Resilience is one of our foundations. We love new thinking and big ideas that challenge the status quo. Think different.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card py-4 mb-4 mb-md-0 border-0">
                            <div class="card-body">
                                <div class="rounded-circle logos text-center">
                                    <p class="logos-s text-center">I</p>
                                </div>
                                <h3 class="mt-4">Integrity</h3>
                                <p class="card-text text-center mt-4">We believe in a culture of Integrity. We love new thinking and big ideas that challenge the status quo. Think different.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card py-4 mb-4 mb-md-0 border-0">
                            <div class="card-body">
                                <div class="rounded-circle logos text-center">
                                    <p class="logos-s text-center">A</p>
                                </div>
                                <h3 class="mt-4">Ambition</h3>
                                <p class="card-text text-center mt-4">Ambition is what we live for. foundations. We love new thinking and big ideas that challenge the status quo. Think different.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--OurPurpose-->

        <!--The Team-->

        <!-- <div id="Team-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h1 class="text-center team">The Team</h1>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-2">
                        <img class="img-fluid face img-responsive border rounded-circle" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587210069/Fundstrtr/Team/richard_fvcget.jpg" alt="Richard">
                        <h5 class="text-center name">Andrew Merka</h5>
                        <p class="text-center position">Lead Product</p>
                    </div>
                    <div class="col-md-2">
                        <img class="img-fluid face img-responsive rounded-circle" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587210068/Fundstrtr/Team/damola11_wl0vzy.png" alt="Damola">
                        <h5 class="text-center name">Logan Bradley</h5>
                        <p class="text-center position">Lead Product</p>
                    </div>
                    <div class="col-md-2">
                        <img class="img-fluid face img-responsive rounded-circle" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587210068/Fundstrtr/Team/chima_1_y8ulvr.jpg" alt="chima">
                        <h5 class="text-center name">Remi Castle</h5>
                        <p class="text-center position">Junior UI/UX</p>
                    </div>
                    <div class="col-md-2">
                        <img class="img-fluid face img-responsive rounded-circle" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587210069/Fundstrtr/Team/busayo3_zyztmn.png" alt="Busayo">
                        <h5 class="text-center name">Jide Okiki</h5>
                        <p class="text-center position">Senior Software Engineer</p>
                    </div>
                    <div class="col-md-2">
                        <img class="img-fluid face img-responsive rounded-circle" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587222882/Fundstrtr/Team/Ikechukwu_Collins_qc42ks.jpg" alt="">
                        <h5 class="text-center name">Roland murray</h5>
                        <p class="text-center position">Junior IOS dev</p>
                    </div>
                    <div class="col-md-2">
                        <img class="img-fluid face img-responsive rounded-circle" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1588009078/Fundstrtr/Ellipse_43_w6vbsg.png" alt="">
                        <h5 class="text-center name">Lorem ipsum</h5>
                        <p class="text-center position">Lead Product</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <h1 class="mt-5 text-center team">Who are we backed by ?</h1>
                    </div>
                </div>
            </div>
        </div> -->
        <!--The Team-->

        <!--Backed By-->
        <div id="backed-body">
            <div class="container">
                <div class="row mt-1">
                    <!--Backed By-->
                    <div class="col-md-12 py-4 mt-4">
                        <img class="img-fluid img-responsive rounded-pill partners" src="https://cdn-content-hub.crowdcube.com/files/content-images/numis.jpg" alt="">
                        <img class="img-fluid img-responsive partners" src="https://blog.edx.org/wp-content/uploads/2017/11/Stripe-Logo-blue.png" alt="">
                        <img class="img-fluid img-responsive partners" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/PricewaterhouseCoopers_Logo.svg/1200px-PricewaterhouseCoopers_Logo.svg.png" alt="">
                        <img class="img-fluid img-responsive partners" src="https://monzo.com/static/images/mondo-mark-01.png" alt="">
                        <img class="img-fluid img-responsive partners" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1588012314/Fundstrtr/image_2_mzmjxr.png" alt="">
                        <img class="img-fluid img-responsive partners rounded-pill" src="https://cdn-content-hub.crowdcube.com/files/content-images/balderton.jpg" alt="">

                        <p class="text-center mt-4">We’re happy to be backed by Price water house cooperations, Draper Esprit, Numis and Channel 4, who have collectively invested more than £19.5m across multiple rounds of investment. This support has been vital to our success so
                            far.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Backed By-->

        <!--Partners-->

        <!-- <div id="partners-body">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-10 justify-content-center">
                        <h1 class="text-center team">Our partners</h1>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-6 justify-content-center">
                        <p>
                            By referring companies to Fundstrtr, you can help tackle one of the biggest challenges facing growing businesses - raising finance. We work with the likes of Monzo, Paystack, Stripe, Pearlfisher and Linklaters, to name a few, to support growing businesses
                            go on to achieve great things.
                            <br />
                            <br />Join us and help businesses leave their mark on the world.
                        </p>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 card border-0 mb-4 mb-md-0 ml-2 mr-3">
                                <img class="img-fluid img-responsive partners-img" src="https://cdn-content-hub.crowdcube.com/files/content-images/balderton.jpg" alt />
                            </div>
                            <div class="col-md-4 card border-0 mb-4 mb-md-0">
                                <img class="img-fluid img-responsive partners-img" src="https://blog.edx.org/wp-content/uploads/2017/11/Stripe-Logo-blue.png" alt />
                            </div>
                            <div class="col-md-4 card border-0 mb-4 mb-md-0 mt-3 ml-2 mr-3">
                                <img class="img-fluid img-responsive partners-img" src="https://cdn-content-hub.crowdcube.com/files/content-images/balderton.jpg" alt />
                            </div>
                            <div class="col-md-4 card border-0 mb-4 mb-md-0 mt-3">
                                <img class="img-fluid img-responsive partners-img" src="https://cdn-content-hub.crowdcube.com/files/content-images/balderton.jpg" alt />
                            </div>
                        </div>
                    </div>
                    <span>
              <button class="btn become-a-partner mt-5 py-3">Become a partner</button>
            </span>
                </div>
            </div>
        </div> -->
        <!--Partners-->

        <!--FAQ-->

        <!--FAQ-->

        <%- include("../partials/footer")%>

</body>

</html>