<!DOCTYPE html>
<html>

<head>
    <title>fundstrtr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/logo150.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/raising.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <%-include('../partials/Navbar')%>

        <!--Section 0-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1>Drive your growth</h1>
                    <p>At fundstrtr we love supporting the up and coming age of businesses, it&#39;s one of the most exciting things for us to do.</p>
                    <p>We remain close by each visionary that is pushing at the edges, rocking the boat and changing how we know life to be; we are here to keep cheering you on in the crowd as you proceed to leave an imprint on the world.</p>
                    <p>We&#39;re supporting the visionaries whose purpose inspires belief from their colleagues, customers and communities, who want to fuel a brighter future. Whether you're a start-up or scale-up, foodie or techie, mover or shaker; we're
                        right behind you. </p>
                    <p>Here to hold your hand through this exciting journey.</p>
                    <a href="raising/create-a-pitch"> <button class="btn px-5 py-3 mt-4 getstarted">Get Started</button></a>
                </div>

                <div class="col-md-6 col-sm-12">
                    <img class="img-responsive img-fluid mt-4 mt-md-0" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587990976/Fundstrtr/Mask_Group_1_gbilau.png" alt="">
                    <img class="play-btn" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1590445926/Fundstrtr/Group_17_dshgnw.png" alt="play button" data-toggle="modal" data-target="#fsVideo">

                    <div class="modal fade" id="fsVideo" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content raising-modal-content">
                                <div class="modal-header border-0">
                                    <button id="closeVideo" type="button" class="close" data-dismiss="modal" onclick="stopVideo"><span style="font-size: 4rem;">&times;</span></button>
                                </div>

                                <div class="modal-body">
                                    <iframe id="video" class="order-1 order-md-2" src="https://www.youtube.com/embed/xWggTb45brM" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Section 0-->

            <!-- second link set-->
            <div class="mt-5">
                <div class="row">
                    <div class="col-12 col-md-12 d-flex justify-content-around">
                        <a class="px-2 px-md-0" href="#">Funding rounds</a>
                        <a class="px-2 px-md-0" href="#">Success stories</a>
                        <a class="px-2 px-md-0" href="#">Blog</a>
                        <a class="px-2 px-md-0" href="#">Help Centre &#38; FAQ</a>
                    </div>
                </div>
            </div>
            <!-- second link set ends -->

            <!-- section1 -->
            <div class="row mt-5 mb-3 justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card firstcard mb-4 mb-md-0 border">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587990976/Fundstrtr/Mask_Group_1_gbilau.png" class="card-img img-height" alt="equity crowdfunding" />
                            </div>

                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">Equity crowdfunding</h4>
                                    <p class="card-text">Want to know more about equit-crowdfunding, click on the button below.</p>
                                    <a href="/raising/about-equity-crowdfunding" class="btn btn-outline-primary rounded-pill px-5 py-2">Tell me more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card firstcard mb-4 mb-md-0">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1587990976/Fundstrtr/Mask_Group_1_gbilau.png" class="card-img img-height w-100" alt="..." />
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h4 class="card-title">Debt Crowdfunding</h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <a href="/raising/about-debt-crowdfunding" class="btn btn-outline-primary rounded-pill px-5 py-2">Tell me more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            </div>
            <!-- section1 ends -->
        </div>

        <div class="container mt-5">
            <h2 class="text-center">Perks after getting funded by us</h2>
            <!-- should be images -->
            <!-- benefits section -->
            <div class="row mt-3">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card mb-3 mini-cardss">
                        <div class="card-body">
                            <h4 class="card-text text-center">63% more active</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card mb-3 mini-cardss">
                        <div class="card-body">
                            <h4 class="card-text text-center">40% more likely to be a fortune 500</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card mb-3 mini-cardss">
                        <div class="card-body">
                            <h4 class="card-text text-center">Significants user and bookings growth</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- benefits section ends -->
        </div>

        <!-- Section2  -->
        <div class="container">
            <div class="row justify-content-center mt-2">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="card sc2-card border">
                        <img class="img-fluid img-header" style="height:230px" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Business logo">
                        <div class="card-body">
                            <h5>Hooli</h5>
                            <section class="d-flex justify-content-around mt-3">
                                <div id="ff-inline" class="wrap">
                                    <p><span>N2.45m</span></p>
                                    <p>Raised</p>
                                </div>
                                <div id="ff-inline" class="wrap">
                                    <p><span>2000</span></p>
                                    <p>Investors</p>
                                </div>
                            </section>

                            <div class="justify-content-center mt-2">
                                <p class="text-justify">To effectively use intermittent renewable energies, the world will need vast amounts of energy storage.<br>Gravitricity's unique technology uses heavy weights to store energy underground. The company has 5 patents submitted,
                                    over £900K in grants to date and begun building its 250kW Concept Demo. The raise will provide runway through this global downturn.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="card sc2-card border">
                        <img class="img-fluid img-header" style="height:230px" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Business logo">
                        <div class="card-body">
                            <h5>Hooli</h5>
                            <section class="d-flex justify-content-around mt-3">
                                <div id="ff-inline" class="wrap">
                                    <p><span>N2.45m</span></p>
                                    <p>Raised</p>
                                </div>
                                <div id="ff-inline" class="wrap">
                                    <p><span>2000</span></p>
                                    <p>Investors</p>
                                </div>
                            </section>

                            <div class="justify-content-center mt-2">
                                <p class="text-justify">To effectively use intermittent renewable energies, the world will need vast amounts of energy storage.<br>Gravitricity's unique technology uses heavy weights to store energy underground. The company has 5 patents submitted,
                                    over £900K in grants to date and begun building its 250kW Concept Demo. The raise will provide runway through this global downturn.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="card sc2-card border">
                        <img class="img-fluid img-header" style="height:230px" src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="Business logo">
                        <div class="card-body">
                            <h5>Hooli</h5>
                            <section class="d-flex justify-content-around mt-3">
                                <div id="ff-inline" class="wrap">
                                    <p><span>N2.45m</span></p>
                                    <p>Raised</p>
                                </div>
                                <div id="ff-inline" class="wrap">
                                    <p><span>2000</span></p>
                                    <p>Investors</p>
                                </div>
                            </section>

                            <div class="justify-content-center mt-2">
                                <p class="text-justify">To effectively use intermittent renewable energies, the world will need vast amounts of energy storage.<br>Gravitricity's unique technology uses heavy weights to store energy underground. The company has 5 patents submitted,
                                    over £900K in grants to date and begun building its 250kW Concept Demo. The raise will provide runway through this global downturn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="btn btn-outline-primary px-5 py-2 rounded-pill mt-5"><b>View all success stories</b></a>
            <!--Section2 -->
        </div>

        <!-- section 3 -->
        <div class="container">
            <div class="row mt-5">
                <section class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-3 mini-cardss">
                        <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1590766211/Fundstrtr/thinking-about-raising-finance-1_zah6ze.png" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title text-center py-2">Think about raising?</h5>
                            <a href="raising/thinking-about-raising" class="btn btn-outline-primary rounded-pill px-5 py-2 ml-5 mt-3"><b>Find out more</b></a>
                        </div>
                    </div>
                </section>
                <section class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-3 mini-cardss">
                        <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1590766211/Fundstrtr/thinking-about-raising-finance-1_zah6ze.png" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title text-center py-2">Crowdfunding guidance</h5>
                            <a href="/raising/knowledge-hub" class="btn btn-outline-primary rounded-pill px-5 py-2 ml-5 mt-3"><b>Find out more</b></a>
                        </div>
                    </div>
                </section>
                <section class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card mb-3 mini-cardss">
                        <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1590766211/Fundstrtr/thinking-about-raising-finance-1_zah6ze.png" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title text-center py-2">Post-funding support</h5>
                            <a href="/raising/post-funding-support" class="btn btn-outline-primary rounded-pill px-5 py-2 ml-5 mt-3"><b>Find out more</b></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- section 3 ends -->

        <!-- popular content section starts -->
        <h3 class="mt-5 text-center">Popular Content</h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="card mb-3 mini-cards">
                        <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1586116440/Rectangle_1154_vsqwx3.png" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Why should I raise</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <small class="text-muted mt-5">Read more</small><br />
                            <small class="text-muted">By David Everret, Head of Business development</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="card mb-3 mini-cards">
                        <img src="https://images.unsplash.com/photo-1549637642-90187f64f420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" class="card-img-top" style="height: 40%;" />
                        <div class="card-body">
                            <h5 class="card-title">10 steps to running a successful business</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <small class="text-muted mt-5">Read more</small><br />
                            <small class="text-muted">By Fundstrtr</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
                    <div class="card mb-3 mini-cards">
                        <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1586116440/Rectangle_1154_vsqwx3.png" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Why fintech gives us a glimpse of the Age of...</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <small class="text-muted mt-5">Read more</small><br />
                            <small class="text-muted">By Nzubeh Okoli, Social media department</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- popular content section ends -->


        <!--FAQ-->
        <div class="container">
            <h3 class="mt-5">Frequently Asked questions</h3>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="accordion" id="accordion">
                        <div class="card fs-faq-card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 fs-faq">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Can I raise capital with Fundstrtr?
                        </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    We have an extra fondness for technology companies, as we all know technology is changing how we see the World and how we live. Furthermore, we love to power all types of awesome visionaries whether a start-up, scale up, big business, brick and mortar,
                                    mover and shaker or whatever league of awesome you think you are. We help businesses in a variety of sectors fuel-up in order to supercharge growth.

                                    <ul>
                                        You can apply to raise with us if:
                                        <li>Your business is a Limited company/Corporation (not an LLP, any other form of Partnership or Sole Trader)</li>
                                        <li>Your business isn’t involved in anything of a sexual nature</li>
                                        <li>Your business has a valid and duly registered with appropriate body</li>
                                        We will also review:
                                        <li>The structure of your company. If your business consists of a group structure, the funds must be raised for the top company (please ensure the company number for the top company is provided)</li>
                                        <li>Existing shareholders and if there are any majority institutional shareholders, the terms of their investments.</li>
                                        <li>Director corporate and financial history</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card fs-faq-card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0 fs-faq">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                    Where must I be based to raise with Fundstrtr?
                        </button>
                                </h2>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    We are able to power you, if your business is duly registered in Nigeria. If your business is based outside of Nigeria but in Africa, please apply and one of our team will let you know whether we are able to host your raise. You can apply to raise with
                                    us here.

                                </div>
                            </div>
                        </div>

                        <div class="card fs-faq-card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0 fs-faq">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                    How much capital can I raise?
                        </button>
                                </h2>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    The minimum amount you can raise with us is $100,000.
                                </div>
                            </div>
                        </div>

                        <!-- <div class="card fs-faq-card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0 fs-faq">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                        Am i eligible to raise on fundstrtr?
                        </button>
                            </h2>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                USD100,000 non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                VHS.
                            </div>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
            <!--FAQ-->


            <div id="last-row" class="row mt-5 pb-5">
                <div class="col-md-12">
                    <h2 class="text-center">We believe in helping you take that leap<br>get started with raising</h2>
                    <a id="invjoin" class="btn btn-primary border-0 mt-4 px-4 joinbutton" href="/raising/create-a-pitch">Get started</a>
                </div>
            </div>
        </div>




        <!--Risk Warning (Section 4)-->
        <div id="risk-body">
            <div class="container justify-content-center">
                <section class="row mt-5 ml-2 ml-md-0">
                    <h1 class="risk">Risk Warning</h1>
                    <p class="mt-2">An investor may earn less than the amount invested. Information on past performance, where given, is not necessarily a guide to future performance. The situation of an entity can change rapidly, which may be as a result of several
                        things: general economic conditions, sector-specific problems, foreign exchange depreciation and mismanagement by the entity.</p>
                    <p class="mt-2">Because you are likely to self-direct yourself for this investment, you should regularly review your portfolio, or seek professional advice, to ensure that the underlying businesses remain in line with your investment objectives. This
                        can be particularly important for those investing towards a defined time horizon – for example, those investing for retirement via a pension.</p>
                    <p class="mt-2">This write-up is not intended to be fully inclusive of all relevant risks; we would strongly encourage you to ensure that you have read all relevant literature and that you are comfortable that you understand all of the associated
                        risks relating to an investment before you decide whether or not to purchase it.Should you be in any doubt as to the risks involved, or to the suitability of a particular investment, you should seek professional financial advice.
                        </p>
                </section>
            </div>
        </div>
        <%- include("../partials/footer")%>
</body>

</html>

<script>
    function stopVideo() {
        var video = document.getElementById("video")
        video.setAttribute("src", "")
        video.setAttribute("src", "https://www.youtube.com/embed/xWggTb45brM") //xWggTb45brM QINFxx3c6X8--wwtytk
    }
</script>